<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

{% extends "base.html" %}

{% block tittle %} Acerca de mi {% endblock %}
    
{% block content %}


<div class="container">
	<div class="row mega">
		<ul class="nav nav-tabs">
			<li class="tab active"> <a href="/Me"> Perfil </a></li>
			<li class="tab"> <a href="/Publications"> Mis Buzzies </a></li>
			<li class="tab"> <a href="/Rating">Mis Ratings </a></li>
		</ul>
	</div>
</div>

		<div class="row">
			<h2 class="main-text blue-text"> Mi Información </h2>
		</div>

		{% with usuario=info.usuario %}
		<div class="row">
			<h4 class="medium-text"> Username: <label class="detail-text">{{user.username}}</label></h4>
			<h4 class="medium-text"> Nombre: <label class="detail-text">{{user.first_name}}</label></h4>
			<h4 class="medium-text"> Apellidos: <label class="detail-text">{{user.last_name}}</label></h4>
			<h4 class="medium-text"> Correo electrónico: <label class="detail-text">{{user.email}}</label></h4>
			
			<h2 class="medium-text">Información Adicional</h2>
			<h4 class="medium-text"> País: <label class="detail-text">{{user.profile.pais}}</label></h4>
			<h4 class="medium-text"> Miembro desde: <label class="detail-text">{{user.date_joined}}</label></h4>
		</div>

		<BR><BR>
		<div class="row">
			<a class="col-lg-2 glyphicon-pencil" href="/Edit">Editar</a>
		</div>
		{% endwith %}

{% endblock %}