<!doctype html>
{% extends "base.html" %}

{% block tittle %} Edita tu perfil {% endblock %}
    
{% block content %}
<h1 class="titulo TextoPrincipal">Edita tu Perfil</h1>
        <form  class="Form" method="POST" enctype="multipart/form-data" data-ajax="false">
            {% csrf_token %}
            {{userForm.as_p}}
            {% csrf_token %}
            {{profileForm.as_p}}
            
            <a> <button class="boton btn btn-default" type="Submit">
            <span class="glyphicon glyphicon-floppy-disk"></span> Listo! </button></a>
        </form>
{% endblock %}

