<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to buzzter</title>
        <meta charset="UTF-8">
    </head>
    <body>
    <div>
        {%if user.is_authenticated %}
        <div><a href="Accounts/{{user.username}}"> ve a tu perfil</a> </div>
        {%else%}
        <div>
            <form method="POST">
                {% csrf_token %}
                <label> Usuario </label>
                <input name="username" type="text" placeholder="Usuario">
                <label> Contraseña </label>
                <input name="password" type="password" placeholder="Contraseña">            
                <button type="submit"> Ingresar </button>
            </form>
        </div>
        {%endif%}
    </div>
    </body>
</html>