<!DOCTYPE html>
{% extends "base.html" %}

{% block tittle %} Welcome to buzzter {% endblock %}
    
{% block content %}
     <div>
        {%if user.is_authenticated %}
        <div><a href="Accounts/{{user.username}}"> ve a tu perfil</a> </div>
        {%else%}
        <div class="logIn">
            <div class="logInForm">
                <form method="POST">
                    {% csrf_token %}
                    <div>
                        <label> Usuario </label>
                        <input name="username" type="text" placeholder="Usuario">
                        <label> Contrase&ntilde;a </label>
                        <input name="password" type="password" placeholder="Contrase&ntilde;a">
                        <input type="submit" class="mainButton">
                    </div>
                </form>
            </div>
        </div>
        {%endif%}
    </div>
{% endblock %}