<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{% extends "base.html" %}

{% block tittle %} Mis Publicaciones {% endblock %}
    
{% block content %}
<div class="container">
	<div class="row">
		<ul class="nav nav-tabs">
			<li> <a href="/Me"> Perfil </a></li>
			<li class="active"> <a href="/Publications"> Mis Buzzies </a></li>
			<li> <a href="/Rating">Mis Ratings </a></li>
		</ul>
	</div>
</div>

		
		<div class="row">
			<h2 class="TextoTitulo1">Mis Publicaciones</h2>
		</div>

		<BR>
		<div class="row">
			<div class="datagrid">
				<!--<table border="1" cellpadding="3" frame="void" width="800"> -->
					<table class="table table-condensed table-hover TextoSecundario">
					<tr class="success">
						<th> Listado de publicaciones</th>
						<th> Fecha </th>
						<th> Comentarios </th>
					</tr>


					{% for publicaciones in user.profile.posts.all%}
					<tr class="tr">
						<td>{{publicaciones.titulo}}</td>
						<td>{{publicaciones.fecha}}</td>
						<td>{{publicaciones.comentarios.count}}</td>
					</tr>
					{%endfor%}
				</table>
			</div>
		</div>

{% endblock %}
