<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{% extends "base.html" %}

{% block tittle %} Mis Publicaciones {% endblock %}
    
{% block content %}
<div class="container">
	<div class="row mega">
		<ul class="nav nav-tabs">
			<li class="tab"> <a href="/Me"> Perfil </a></li>
			<li class="tab active"> <a href="/Publications"> Mis Buzzies </a></li>
			<li class="tab"> <a href="/Rating">Mis Ratings </a></li>
		</ul>
	</div>
</div>
	
<div class="row mega">
                    <div class="container">
                 {% if user.profile.posts %}
                {% for post in user.profile.posts.all%}
		
                    <div class="row">              
                    <div class="media col-xs-12">
                        <a class="pull-left thumbnail" href="{{post.linkImagen}}">                            
                            <img class="imagen media-object" src="{{post.linkImagen}}" alt="">
                        </a>
                        <div class="media-body container">
                             <div class="media-heading">
                                <div class="span8">
                                    <a class="main-text blue-text" href="/Posts/{{post.id}}">{{post.get_titulo}}</a>                                </div>
                            </div>
                            <p class="light-gray-text medium-text">{{post.descripcion|truncatewords:10}}</p>
                             <div class="span6">
                                 <p></p>
                                 <p><a class="btn btn-info" href="/Posts/{{post.id}}">Read more</a></p>
                             </div>
                            <p>Desde: <a href="{{post.link}}">{{post.link|truncatechars:50}}</a></p>
                            <p></p>
                    <p>
                        <span class="tiny-icon icon-user"></span> by <a href="/Accounts/{{post.usuario}}">{{post.usuario}}</a> 
                      | <span class="tiny-icon icon-calendar"></span>{{post.fecha}}
                      | <span class="tiny-icon icon-bubble"></span>
                            <a href="/Posts/{{post.id}}">
                                {{post.comentarios.count}} comments
                            </a>
                    </p>
                    </div>
                        </div>
                    </div>  
                		<hr>
                {%endfor%}
                {% else %}
                <div class="alert alert-info ">
                    <p><b>Aun no has compartido nada</b></p>
                </div>
                {% endif %}
                    </div>
		</div>

{% endblock %}
