<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{% extends "base.html" %}

{% block tittle %} Mis Raitings {% endblock %}
    
{% block content %}
<div class="container">
	<div class="row">
		<ul class="nav nav-tabs">
			<li class="tab"> <a href="/Me"> Perfil </a></li>
			<li class="tab"> <a href="/Publications"> Mis Buzzies </a></li>
			<li class="tab active"> <a href="/Rating">Mis Ratings </a></li>
		</ul>
	</div>
</div>


		<div class="row">
			<h2 class="TextoTitulo1"> Mi Lista de Ratings</h2>
		</div>

{% endblock %}
