{% extends "base.html" %}

{% block tittle %} Settings {% endblock %}
    
{% block body %}
{% load i18n %}
     <div class="jumbotron logInPart">
         <h1> Se cuidadoso </h1>
         <p> Escoge tu contrase&ntilde;a con sabidur&iacute;a</p>
         <div class="container">
             <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4
                            col-lg-offset-4 col-sm-offset-4 col-md-offset-4">
            <div class="form-block">
                <form method="POST">
                    {% csrf_token %}
                    <div>
                    <h1 class="tittle"> {{user}} </h1> 
                    <p class="tittle">Llena esto con tus datos</p>
                    <input id="id_old_password" maxlength="4096" name="old_password" type="password"
                           placeholder="Contrase&ntilde;a actual">
                    <input id="id_new_password1" maxlength="4096" name="new_password1" type="password"
                           placeholder="Nueva Contrase&ntilde;a">
                    <input id="id_new_password2" maxlength="4096" name="new_password2" type="password"
                           placeholder="Repitela">
                    <button class="btn-main" type="submit">Cambiar</button>
                    <input type="hidden" name="next" value="/Password_Change/done/" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{%endblock%}