{% extends "base.html" %}

{% block tittle %} Est&aacute;s en problemas {% endblock %}
    
{% block main %}
<div class="jumbotron logInPart">
    {% if validlink %}
         <h1> Ya falta poco</h1>
         <p> Verifica que todo est&eacute; bien</p>
         <div class="container">
             <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4
                            col-lg-offset-4 col-sm-offset-4 col-md-offset-4">
            <div class="form-block">
                <form method="POST">
                    {% csrf_token %}
                    {% form.as_p %}
                    <button class="btn-main" type="submit">Restablecer</button>
                </form>
            </div>
        </div>
    {%else%}
    <h1> Hum!! </h1>
    <p> Este enlace est&aacute; roto</p>
    {% endif %}
    </div>
{% endblock %}