{% extends "base.html" %}

{% block tittle %} Settings {% endblock %}
    
{% block main %}
{% load i18n %}
     <div class="jumbotron logInPart">
         <h1> No te preocupes</h1>
         <p> Te ayudaremos a recordar tu contrase&ntilde;a</p>
         <div class="container">
             <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4
                            col-lg-offset-4 col-sm-offset-4 col-md-offset-4">
            <div class="form-block">
                <form method="POST">
                    <div>
                    {% csrf_token %}
                    <h1 class="tittle">Se mas cuidadoso</h1>
                    <p class="tiny-text">Te enviaremos un correo a</p>
                    <input id="id_email" maxlength="254" name="email" type="text"
                           placeholder="correo">
                    <button class="btn-main" type="submit">Enviar</button>
                    <input type="hidden" name="next" value="/Password_Reset/done/" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{%endblock%}