{% extends "base.html" %}

{% block tittle %} Est&aacute;s en problemas {% endblock %}
    
{% block main %}
<div class="jumbotron logInPart">
    {% if validlink %}
         <h1> Ya falta poco</h1>
         <p> Verifica que todo est&eacute; bien</p>
         <div class="container">
             <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4
                            col-lg-offset-4 col-sm-offset-4 col-md-offset-4">
            <div class="form-block">
                <form method="POST">
                    {% csrf_token %}
                    <div>
                    <h1 class="tittle"> Se creativo </h1> 
                    <p class="tiny-text">Trata de no olvidarla esta vez</p>
                    <input id="id_new_password1" maxlength="4096" name="new_password1" type="password"
                           placeholder="Nueva contrase&ntilde;a">
                    <input id="id_new_password2" maxlength="4096" name="new_password2" type="password"
                           placeholder="Rep&iacute;tela">
                     {% if form.errors %}
                     <h4 class="tiny-text">Algo ha salido mal vuelve a intentarlo</h4>
                     {% endif %}
                    <button class="btn-main" type="submit">Restablecer</button>
                    </div>
                </form>
            </div>
        </div>
    {%else%}
    <h1> Hum!! </h1>
    <p> Este enlace est&aacute; roto</p>
    {% endif %}
    </div>
{% endblock %}