{% extends "base.html" %}

{% block tittle %}{{usuario}}{% endblock %}


{%block left%}

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img alt="Imagen de usuario" src="{{usuario.fotografia.url}}" class="img-rounded" style="width: 226px; height: 226px" >      
                        </div>
                    </div>
                    <div class="row">                      
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <a href="/Accounts/{{usuario}}" class="blue-text main-text">{{usuario}}</a>
                        </div>
                    </div>
                    <div class="row">
                        {% if usuario.pais %}
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="vertical-align: central">
                            <img alt="flag" src="{{usuario.getFlag}}">
                        </div>
                        {% endif %}
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            <label class="detail-text">{{profile.get_full_name}}</label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        {% if user in usuario.followers.all %}
                            <a href="/Unfollow/{{usuario}}"><button class="btn btn-danger">Dejar de Seguir</button></a>
                            <a href="/Messages/{{usuario}}/"><button class="btn btn-info">Enviar Mensaje</button></a>
                        {% else %}
                            <a href="/Follow/{{usuario}}"><button class="btn btn-info">Seguir</button></a>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <a href="/Followers/" class="info"> <p class="big-text">{{usuario.followers.count}}</p>
                                <div class="row">followers</div></a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <a href="/Following/" class="info"><p class="big-text">{{usuario.followings.count}}</p>
                                <div class="row">following</div></a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <a href="#"><p class="big-text">{{usuario.posts.count}}</p>
                                <div class="row">Buzzies</div></a>
                        </div>
                    </div>
                    <hr>                        
                </div>
             </div>

{%endblock%}

{% block content %}
<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="container">          
        {%for post in usuario.posts.all %}
        <hr>
        <div class="row">   
                    <div class="media col-xs-12">
                        <a class="pull-left thumbnail" href="{{post.linkImagen}}">                            
                            <img class="imagen media-object" src="{{post.linkImagen}}" alt="">
                        </a>
                        <div class="media-body container">
                             <div class="media-heading">
                                <div class="span8">
                                    <a class="main-text blue-text" href="/Posts/{{post.id}}">{{post.get_titulo}}</a>                                </div>
                            </div>
                            <p class="light-gray-text medium-text">{{post.descripcion|truncatewords:10}}</p>
                            <p>Desde: <a href="{{post.link}}">Link
                                </a></p>
                            <div class="span6">
                                 <p></p>
                                 <p><a class="btn btn-info" href="/Posts/{{post.id}}">Read more</a></p>
                            </div>
                               <p></p>
                    <p>
                        <i class="icon-user"></i> by <a href="/Accounts/{{post.usuario}}">{{post.usuario}}</a> 
                      | <i class="tiny-icon icon-calendar"></i>{{post.fecha}}
                      | <i class="tiny-icon icon-bubble"></i>
                            <a href="/Posts/{{post.id}}">
                                {{post.comentarios.count}} comments
                            </a>
                    </p>
                    </div>
                        </div>
        </div>             
        </div>               
    {%endfor%}
    </div>
     
</div>
{%endblock%}
<div>
    {{profile}}
</div>
