<!DOCTYPE html>
{% extends "base.html" %}

{% block tittle %} Welcome to Buzzter! {% endblock %}
    
{% block main %}
{% load i18n %}
     <div class="jumbotron signPart">
         <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-6 col-sm-4 col-md-4
                            col-lg-offset-8 col-xs-offset-6 col-sm-offset-8 col-md-offset-8">
                <div class="signPartForm">
                    <form method="POST">
                            <div>
                            <label class="tittle">Hazte escuchar</label>
                            {% csrf_token %}
                            <label class="texto"> {% trans "Username" %} </label>
                            <input name="username" type="text" placeholder="{% trans "Username" %}">
                            {% if form.hasErrors %}
                            {% with errores=form.errors %}
                            <p class = "errorlist"> {{ errores.username }}</p>
                            {% endwith %}
                            {% endif %}
                            <label class="texto">{% trans "Password" %}</label>
                            <input name="password" type="password" placeholder="{% trans "Password" %}"> 
                            <label class="texto"> e-mail </label>
                            <input  name="email" type="email" placeholder="e-mail">  
                            {% if form.hasErrors %}
                            {% with errores=form.errors %}
                            <p class = "errorlist"> {{ errores.email }}</p>
                            {% endwith %}
                            {% endif %}                    
                            <input class="btn form-control btn-primary mainButton" type="Submit" value="{% trans "Registrarse" %}">
                            <a href="/Login">{% trans "Ya tengo una cuenta." %} </a>
                            </div>                        
                        </form>                          
                 </div>                
                </div>
            </div>
         </div>
     </div>
{% endblock %}
