<!DOCTYPE html>
{% extends "base.html" %}

{% block tittle %} Welcome to Buzzter! {% endblock %}
    
{% block content %}
     <div class="logIn">
            <div class="logInForm">
                <div>
                    <form method="POST" >
                        <div>
                            <h1 class="titulo">Hazte escuchar</h1>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="mainButton" type="Submit" value="Registrarme">
                        <a href="/Login">Ya tengo una cuenta</a>
                        </div>
                   </form>                          
                 </div>                
            </div>
     </div>
{% endblock %}
