<!DOCTYPE html>
{% extends "base.html" %}

{% block tittle %} Welcome to Buzzter! {% endblock %}
    
{% block main %}
{% load i18n %}
     <div class="jumbotron signPart">
         <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4
                            col-lg-offset-8 col-sm-offset-8 col-md-offset-8">
                <div class="form-block">
                    <form method="POST">
                        <div>
                            <h1 class="tittle">Hazte escuchar</h1>
                            <p class="tiny-text">Comparte las cosas que te gustan</p>
                            {% csrf_token %}                            
                            <input name="username" type="text" placeholder="{% trans "Username" %}">                           
                            <input name="password" type="password" placeholder="{% trans "Password" %}">                          
                            <input  name="email" type="email" placeholder="e-mail">  
                            {% if form.hasErrors %}                           
                            <h4 class="tiny-text"> Algo ha ocurrido vuelve a intentarlo</h4>                            
                            {% endif %}                    
                            <button class="btn-main" type="Submit"> Registrarme </button>
                            <p style="text-align: center;"><a class="mighty-link" href="/Login">{% trans "Ya tengo una cuenta." %} </a></p>
                        </div>                        
                    </form>                          
                 </div>                
                </div>
            </div>
         </div>
     </div>
<div class="container">
    <div class="row">
        <div class="col-ls-12 col-xs-12 col-sm-12 col-md-12">
            <h1 class="bigHeader centerText">Buzzter es...</h1>
            <p class="parragraph centerText"> Un lugar donde puedes compartir tu contenido favorito de internet</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-ls-4 col-xs-12 col-sm-4 col-md-4">
            <h2 class="mediumHeader">Comparte</h2>
            <p class="mediumText">Comparte tu contenido favorito de internet con la comunidad de buzzter
            </p>
        </div>
        <div class="col-ls-4 col-xs-12 col-sm-4 col-md-4">
            <h2 class="mediumHeader">Sigue</h2>
            <p class="mediumText">Sigue a aquellos que comparten tus gustos
            </p>
        </div>
        <div class="col-ls-4 col-xs-12 col-sm-4 col-md-4">
            <h2 class="mediumHeader">Califica</h2>
            <p class="mediumText">Dale un puntaje a tus publicaciones, y las publicaciones
                de tus amigos
            </p>
        </div>
    </div>
</div>
{% endblock %}
