<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{%extends "base.html"%}
{%block title%} Seguiendo a {%endblock%}
{%block content%}
    {%for varUsuario in user.profile.followings.all%}
    <div> 
        
        <a href="/Accounts/{{varUsuario}}"><img src="{{varUsuario.profile.fotografia.url}}" style="width: 4%; height: 4%"></a>
        <a href="/Accounts/{{varUsuario}}"> {{varUsuario}}</a> 
    </div>
    {%endfor%}
{%endblock%}