<!DOCTYPE html>
{%extends "profiles/profile.html"%}
{%block title%} P {%endblock%}
{%block content%}
<div class="container"><div class="main-text blue-text">{{usuario}} sigue a</div></div>
<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="container"> 
    {%for varUsuario in following%}
    <hr>
        <div class="row">              
                    <div class="media col-xs-12">
                        <a class="pull-left" href="/Accounts/{{varUsuario}}"> <img src="{{varUsuario.fotografia.url}}" style="width: 100px; height: 100px"> </a>
                        <div class="media-body container">
                             <div class="media-heading">
                                <div class="span8"> 
                                    <p>
                                        {% if varUsuario.profile.pais %}
                                        <img alt="flag" src="{{varUsuario.getFlag}}">
                                        {% endif %}
                                        <label class="Texto">{{varUsuario.get_full_name}}</label>
                                    </p>
                                </div>    
                                <p><a href="/Accounts/{{varUsuario}}"> {{varUsuario}} </a></p>
                                <p>
                                    {% if user in varUsuario.followers.all %}
                                        <a href="/Unfollow/{{varUsuario}}"><button class="btn btn-danger">Dejar de Seguir</button></a>
                                        <a href="/Messages/{{varUsuario}}/"><button class="btn btn-info">Enviar Mensaje</button></a>
                                    {% elif user.profile != varUsuario%}
                                        <a href="/Follow/{{varUsuario}}"><button class="btn btn-info">Seguir</button></a>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>             
               </div>     
    {%endfor%}
        </div>
    </div>
</div>
{%endblock%}
