/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-oct-2013, 22:29:56
    Author     : t4r0
*/
@font-face
{
    font-family: ComicBook;
    src: url(/static/fonts/ComickBook_Simple.ttf)
}

h1{
    font-family: ComicBook;
    color: white;
    font-size: 18pt;
}

h3{
    font-family: 'Segoe UI';
    color: #655e5e;
    text-decoration: none;
    font-size: 14pt;
}

h3:hover{color: white;}
.Decorator{
    height: 3px;
    border-style: solid;
    border-bottom-width: 4px;
}

.BlueDecorator{border-color: #0078b0;}
.OrangeDecorator{border-color: #ff8000;}
.YellowDecorator{border-color: #f7ff55;}