/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-oct-2013, 22:29:56
    Author     : t4r0
*/
@font-face
{
    font-family: ComicBook;
    src: url(/static/fonts/ComickBook_Simple.ttf)
}

h1, .titulo, .jumbotron h1{
    font-family: ComicBook;
    color: white;
    font-size: 18pt;
}
.jumbotron p{ font-family: 'Segoe UI'; font-size: 16pt; color:white}
.titulo{color:white; font-size: 18pt; width: 100%; text-align: center}

h3{
    font-family: 'Segoe UI';
    color: #655e5e;
    text-decoration: none;
    font-size: 14pt;
}

h3:hover{color: white;}
.Decorator{
    height: 3px;
    border-style: solid;
    border-bottom-width: 4px;
}

.BlueDecorator{border-color: #0078b0;}
.OrangeDecorator{border-color: #ff8000;}
.YellowDecorator{border-color: #f7ff55;}

.TextoPrincipal,.TextoSecundario,.Texto, .TextoDsc{font-family: 'Segoe UI';}

.TextoPrincipal,.TextoSecundario,.Texto,.TextoTitulo1,.TextoValores1,.TextoValores2,.TextoValores3{font-family: 'Segoe UI';}
.btMusica, .btPeliculas, .btPosters, .btSeries, .btArtBooks, .boton{
    font-family: 'Segoe UI';
    font-size: 50pt; 
    font-weight: bold;
}

.TextoPrincipal{

    color: #077cb2;
    font-weight: bold;
    font-size: 16pt;
}

.TextoSecundario{
    color: #4ea0dc;
    font-size: 14pt;
    font-weight: normal;
}

.TextoDsc{
    color: #a79a9a;
    font-size: 12pt;
    font-weight: normal;
}

.Texto, .Form label{
    font-size: 14pt;
    font-weight: normal;
    color: #336aa0;
}

.Form input, .Form label, .Form select, .Form textarea{}

.TextoTitulo1{
    color: #3390BA;
    font-weight: normal;
    font-size: 24pt;
}

/*gris*/
.TextoValores1{
    color: #999999;
    font-weight: normal;
    font-size: 14pt;
}
/*negro*/
.TextoValores2{
    color: #000000;
    font-weight: normal;
    font-size: 13pt;
}

/*naranja*/
.TextoValores3{
    color:#FF8000;
    font-weight: normal;
    font-size: 13pt;
}

.tr:hover{
    color: #FF8000;
    font-weight: normal;
    font-size: 13pt;
}

.Form input, .Form label, .Form select{
    font-family: 'Segoe UI';
    font-weight: normal;
}

.Form label{
    width: 100%;
}

.Form textarea{
    width: 500px;
    height: 100px;
    font-size: 12pt;
    color: #009999
}
.Form input{
    color : black;
    border-radius: 5px;
    width:500px;
    height:30px;
    font-size: 14px;
    border-style: solid;
    border-color: #cccccc;
    border-width: thin;
}
.Separador{
    
    width: 800px;
    color: #ff9900;
    border-style: groove;
}
.imagen{
    width: 140px;
    height: 140px;
    
}
.btMusica:hover{background-color: #ffc319; color:white;}
.btPeliculas:hover{ background-color: #ff385a; color:white;}
.btPosters:hover{background-color: #1ab434; color:white;}
.btSeries:hover{background-color: #a55aa5; color:white;}
.btArtBooks:hover{background-color: #007bdc; color:white;}
.boton{background-color: #00269b; color: white}

.btMusica{color: #ffc319; background-color:white;}
.btPeliculas{color: #ff385a; background-color:white;}
.btPosters{color: #1ab434; background-color:white;}
.btSeries{color: #a55aa5; background-color:white;}
.btArtBooks{color: #007bdc; background-color:white;}
.boton:hover{color: #00269b; background-color: white}
#fotografia-clean_id{display: none}
.buzzField{width: 500px; height: 30px;}

.signPart
{
    width: 100%;
    background-image: url('img/start.jpg');
    background-size: 100% 100%;
    min-height: 450px;
    margin-top: 1%;
    
}
.signPartForm{width:110%; background-color: #3f3f3f; border-radius: 10px; margin-top: 0;}
 
.signPartForm input
{ border-radius: 5px;     
} 
 .signPartForm label, .signPartForm input
 {
     border: #424646;
     width: 100%;
     height: 35px;
     font-family: 'Segoe UI';
     font-size: 80%;
 }
 
 .signPartForm label
 {
     font-weight: bold;
 }

.signPartForm .errorlist 
{ 
        color: white;
        font-size:10pt;
        position:fixed;
        margin: 1px;
        list-style:none;
        list-style-image: none;
}

 .signPartForm form div
 {
     width: 75%;
     height: 100%;
     max-height: 100%;
     margin: 0 auto;     
 }

.signPartForm form .texto{font-family: 'Segoe UI'; color: #cccccc}
.signPartForm form div{margin: 0 auto; width: 95%;}
.signPartForm a {color:#03a7cf; font-size: 9pt; text-align: center; width: 100%}
.mainButton{margin-top: 4%; font-weight: bold; margin-bottom: 4%;}
.logInPart{
    width:100%;
    background-image: url('img/beehive.jpg');
    background-size: 100% 100%;
    min-height: 450px;
    margin-top: 1%;
}


#fotografia-clean_id{display: none}

.textoTitulo{
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 16pt;
    color: #ff8000;
}
