/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/11/2013, 08:40:37 PM
    Author     : Jorge
    Branch	   : JGRranch
*/

.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 32px;
  font-size: 3.5rem;
  
  color: #888;
  @include transition(text-shadow .5s ease);
  text-shadow: 0 0 0 rgba(0,0,0,.3);
}

.ec-stars-wrapper:hover a {
  color: rgb(39, 130, 228);
  text-shadow: .1em .1em .2em rgba(0,0,0,.3);
}

/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */

.ec-stars-wrapper > a:hover ~ a {
  color: #888;
  text-shadow: none;
}


/*
==========================================================
  Css de las estrellas utilizadas para el promedio.
==========================================================
*/

.starProm{
  text-decoration: none;
  display: inline.block;

  font-size: 32px;
  font-size: 1.8rem;

  color: #888;
}

.textRate{
  font-family: 'Segoe UI';
  font-size:60px;
}

.text2Rate{
  font-family: 'Segoe UI';
  font-size: 13px;
}

.estiloRate{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #F8F8F8;
  border-style: solid;
  border-color: #E7E7E7;
  border-width: 1px;
  vertical-align: middle;
}

.rateText1{
  font-size: 20px;
  font-family: 'Segoe UI';
}

