{% extends "base.html" %}

{% block tittle %} Mensajes {% endblock %}
    
{% block content %}
{% if mensajes%}
<div class="mega">
    {% for mensaje in mensajes %}
        <hr>
        <div class="row">              
                    <div class="media col-xs-12">
                        <a class="pull-left thumbnail" href="{{mensaje.emisor}}">                            
                            <img class="imagen media-object" src="{{mensaje.emisor.fotografia.url}}" alt="">
                        </a>
                        <div class="media-body container">
                             <div class="media-heading">
                                <div class="span8">
                                    <a class="medium-text blue-text" href="/Messages/{{mensaje.emisor}}">{{mensaje.emisor}}</a>                                </div>
                            </div>
                            <p class="light-gray-text medium-text">{{mensaje.mensaje|truncatewords:11}}</p>
                             <div class="span6">
                                 <p></p>
                                 <p><a class="btn btn-info" href="/Messages/{{mensaje.emisor}}/#id_mensaje">Read more</a></p>
                             </div>                            
                            <p></p>
                            <p><span class="tiny-icon icon-calendar"></span>{{mensaje.fecha}}</p>                   
                        </div>
                    </div>             
               </div>
    {% endfor%}
{% else %}
    <div class="alert alert-info mega">
        <p><b>Aun no tienes mensajes</b></p>
        <p> enviale uno a tus <a href="/Following/">contactos </a>
    </div>
{% endif %}
</div>
{% endblock %}
