{% extends "base.html" %}

{% block tittle %} Mensajes {% endblock %}
    
{% block content %}
{% if mensajes %}
{% for mensaje in mensajes %}
<hr>
        <div class="row">           
                    <div class="media col-xs-12">
                        <a class="pull-left thumbnail" href="{{mensaje.emisor}}">                            
                            <img class="imagen media-object" src="{{mensaje.emisor.fotografia.url}}" alt="">
                        </a>
                        <div class="media-body container">
                             <div class="media-heading">
                                <p></p>
                                <p class="info"><span class="tiny-icon icon-calendar"></span>{{mensaje.fecha}}</p>     
                                <div class="span8">
                                <a class="medium-text blue-text" href="/Messages/{{mensaje.emisor}}">{{mensaje.emisor}}</a>
                                </div>
                            </div>
                            <p class="light-gray-text medium-text">{{mensaje.mensaje}}</p>                                  
                        </div>
                    </div>
        </div>
{% endfor%}
{% else %}
    <div class="alert alert-info mega">
        <p><b>Aun no tienes mensajes</b></p>
    </div>
{% endif %}
<form  method="POST">
    {% csrf_token %}   
    <textarea class="form-control" cols="40" id="id_mensaje" name="mensaje" rows="10"></textarea>
    <p><a> <button class="btn btn-info" type="submit">Enviar</button></a></p>
</form>
{% endblock %}