<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{% extends "base.html" %}

{% block tittle %} Nueva Publicacion {% endblock %}
    
{% block content %}
      

           {% if user.is_authenticated %}
           <div class="row">
                <div class="container">
                    <div class="btn-group">
                        <a> <button class="btn btn-default btMusica">
                        <span class="glyphicon glyphicon-headphones"></span> Musica</button></a>
                        <a> <button class="btn btn-default btPeliculas">
                        <span class="glyphicon glyphicon-facetime-video"></span> Peliculas</button></a>
                        <a> <button class="btn btn-default btSeries">
                        <span class="glyphicon glyphicon-star"></span> Series</button></a>
                        <a> <button class="btn btn-default btPosters">
                        <span class="glyphicon glyphicon-picture"></span> Posters</button></a>
                        <a> <button class="btn btn-default btArtBooks">
                        <span class="glyphicon glyphicon-book"></span> Art-Books</button></a>
                    </div>
                </div>
           </div>
           {% endif %}
           <div class="row">
                    <form method="POST" >
                        <div>
                            <h1 class="titulo TextoPrincipal">Nueva Publicacion</h1>
                            
                        {% csrf_token %}
                        <div class="row">
                            <label class="Texto"> Titulo: </label>
                            <input class="form-control buzzField" name="titulo" type="text" placeholder="Titulo">
                        </div>
                        <div class="row">
                            <label class="Texto"> Link Relacionado: </label>
                            <input class="form-control buzzField" name="link" type="URL" placeholder="Link"> 
                        </div>
                        <div class="row">
                            <label class="Texto"> Descripcion: </label>
                            <textarea class="form-control" rows="10" name="descripcion" style="height: 200px; width: 500px;"> </textarea>  
                        </div>
                        <div class="row">
                            <label class="Texto"> Link de Imagen: </label>
                            <input class="form-control buzzField" name="linkImagen" type="URL">  
                        </div>
                        <div class="row col-lg-offset-8">
                            <a> <button class="mainbutton boton btn btn-default" type="Submit">
                            <span class="glyphicon glyphicon-asterisk"></span> Postea </button></a>
                        </div>
                        </div>                        
                   </form> 
            </div>

{% endblock %}