<html>
    <head>
        <title>Publica</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/buzzter.css"/>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/buzzter-min.css"/>
        <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/buzzter.css"/>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/profiles.css"/>
        <script src="{{STATIC_URL}}js/vendor/modernizr-2.6.2.min.js"></script>      
    </head>
<body>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">           
            <h4 class="modal-title">Publica</h4>
        </div>
        <div class="modal-body">
            <form class="Form" method="POST">
                {% csrf_token %}
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                {{form.as_p}}
                <a> <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-asterisk"></span>Postea!
                    </button></a>
            </form>
        </div>
    </div>
</div>
         <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
        <script src="{{STATIC_URL}}js/vendor/bootstrap.js"></script>
        <script src="{{STATIC_URL}}js/main.js"></script>
    </body>
</html>