<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{% extends "base.html" %}

{% block tittle %} Nueva Publicacion {% endblock %}
    
{% block content %}
      

         
           <div class="row">
                <div class="container">
                    <div class="btn-group">
                        <a href="/Posts/New/Music"> <button class="btn btn-default btMusica">
                        <span class="glyphicon glyphicon-headphones"></span> Musica</button></a>
                        <a href="/Posts/New/Movies"> <button class="btn btn-default btPeliculas">
                        <span class="glyphicon glyphicon-facetime-video"></span> Peliculas</button></a>
                        <a href="/Posts/New/Series"> <button class="btn btn-default btSeries">
                        <span class="glyphicon glyphicon-star"></span> Series</button></a>
                        <a href="/Posts/New/Posters"> <button class="btn btn-default btPosters">
                        <span class="glyphicon glyphicon-picture"></span> Posters</button></a>
                        <a href="/Posts/New/ArtBooks"> <button class="btn btn-default btArtBooks">
                        <span class="glyphicon glyphicon-book"></span> Art-Books</button></a>
                    </div>
                </div>
           </div>

           <div class="row">
               <form class="Form" method="POST" >
                   <div>
                       {% csrf_token %}
                       {{form.as_p}}
                       {%if form%}
                       <a> <button class="btn btn-default boton" type="submit">
                       <span class="glyphicon glyphicon-asterisk"></span>Postea!</button></a>
                       {%endif%}
                   </div>                        
               </form>
           </div>
<div class="row">
    
    {%for post in posts %}
        {{post.titulo}}
        {{post.descripcion}}
    {%endfor%}
    
</div>

{% endblock %}