{% extends "base.html" %}

{% block tittle %} Ahora en buzzter {% endblock %}
    
{% block content %}
{% load i18n %}
<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
<hr>
    <div class="container">
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="tab active"><a href="/Now/">Noticias</a></li>
                <li class="tab"><a  href="/Comments/">Comentarios</a></li>
                <li class="tab"><a>Ratings</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="btn-group btn-group-justified show-time hidden-xs">
                            <a class="btn" data-toggle="modal" data-remote="/Posts/New/Music" data-target="#newPost"> 
                                <div class="container show">
                                    <div class="row">
                                        <span class="big-icon icon-play"></span>
                                    </div>
                                    <div class="row">
                                        M&uacute;sica
                                    </div>
                                </div>
                            </a>
                           <a class="btn" data-toggle="modal" data-remote="/Posts/New/Movies" data-target="#newPost">
                                <div class="container show">
                                    <div class="row">
                                        <span class="big-icon icon-video"></span>
                                    </div>
                                    <div class="row">
                                        Pel&iacute;culas
                                    </div>
                                </div>
                            </a>
                          <a class="btn" data-toggle="modal" data-remote="/Posts/New/Series" data-target="#newPost">
                                <div class="container show">
                                    <div class="row">
                                        <span class="big-icon icon-tv"></span>
                                    </div>
                                    <div class="row">
                                        Series
                                    </div>
                                </div>
                          </a>
                          <a class="btn" data-toggle="modal" data-remote="/Posts/New/Posters" data-target="#newPost">
                                <div class="container show">
                                    <div class="row">
                                        <span class="big-icon icon-poster"></span>
                                    </div>
                                    <div class="row">
                                        Poster
                                    </div>
                                </div>
                          </a>
                          <a class="btn" data-toggle="modal" data-remote="/Posts/New/ArtBooks"
                                data-target="#newPost">
                                <div class="container show">
                                    <div class="row">
                                        <span class="big-icon icon-book"></span>
                                    </div>
                                    <div class="row">
                                       Art-books
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id ="newPost"></div>
<div class="row" role="main">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="container">          
        {%for post in posts %}
        <hr>
        <div class="row">              
                    <div class="media col-xs-12">
                        <a class="pull-left thumbnail" href="{{post.linkImagen}}">                            
                            <img class="imagen media-object" src="{{post.linkImagen}}" alt="">
                        </a>
                        <div class="media-body container">
                             <div class="media-heading">
                                <div class="span8">
                                    <a class="main-text blue-text" href="/Posts/{{post.id}}">{{post.get_titulo}}</a>                                </div>
                            </div>
                            <p class="light-gray-text medium-text">{{post.descripcion|truncatewords:10}}</p>
                             <div class="span6">
                                 <p></p>
                                 <p><a class="btn btn-info" href="/Posts/{{post.id}}">Read more</a></p>
                             </div>
                            <p>Desde: <a href="{{post.link}}">{{post.link|truncatechars:50}}</a></p>
                            <p></p>
                    <p>
                        <i class="icon-user"></i> by <a href="/Accounts/{{post.usuario}}">{{post.usuario}}</a> 
                      | <i class="tiny-icon icon-calendar"></i>{{post.fecha}}
                      | <i class="tiny-icon icon-bubble"></i>
                            <a href="/Posts/{{post.id}}">
                                {{post.comentarios.count}} comments
                            </a>
                    </p>
                    </div>
                        </div>
                    </div>             
               </div>               
    {%endfor%}
    </div>
</div>
{% endblock %}
