<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{% extends "base.html" %}

{% block tittle %} {{post}} {% endblock %}
    
{% block content %}

        <div><img src="{{post.linkImagen}}" style="width: 200px; height: 400px"> </div>
        <div>{{post.descripcion}}</div>
        <div><a href="/Accounts/{{autor.username}}">{{autor.username}}</a></div>

{% endblock %}