<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{% extends "base.html" %}

{% block tittle %} {{post}} {% endblock %}
    
{% block content %}
        <div class="row">
            <div class="TextoPrincipal">{{post.get_titulo}}</div>
            
            <div><img  class="imagen img-rounded" src="{{post.linkImagen}}"> </div>
            <div class="TextoDsc">{{post.fecha}}</div>
            
            <label class="Texto">Descripcion:</label>
            <div class="TextoDsc">{{post.descripcion}}</div>
   
            {%if user.profile.id == post.usuario.id %}
            <div class="TextoDsc">{{post.usuario.profile}}</div>
            {%endif%}
            
            {%if post.autor != ""%}
            <label class="Texto">Autor:</label>
            <div class="TextoDsc">{{post.autor}}</div>
            {%endif%}
            
            {%if post.interprete != ""%}
            <label class="Texto">Interprete:</label>
            <div class="TextoDsc">{{post.interprete}}</div>
            {%endif%}
            
            {%if post.year != ""%}
            <label class="Texto">Year:</label>
            <div class="TextoDsc">{{post.year}}</div>
            {%endif%}
            
            {%if post.album != ""%}
            <label class="Texto">Album:</label>
            <div class="TextoDsc">{{post.album}}</div>
            {%endif%}
            
            {%if post.director != ""%}
            <label class="Texto">Director:</label>
            <div class="TextoDsc">{{post.director}}</div>
            {%endif%}
            
            {%if post.clasificacion != ""%}
            <label class="Texto">Clasificacion:</label>
            <div class="TextoDsc">{{post.clasificacion}}</div>
            {%endif%}
            
            {%if post.dibujante != ""%}
            <label class="Texto">Dibujante:</label>
            <div class="TextoDsc">{{post.dibujante}}</div>
            {%endif%}
            
            {%if post.temporada != ""%}
            <label class="Texto">Temporada:</label>
            <div class="TextoDsc">{{post.temporada}}</div>
            {%endif%}
        </div>

<hr class="Separador">
<div>
    
    
    
</div>
<hr class="Separador">
<div class="row">
        <form class="Form" method="POST">
            {% csrf_token %}
            <input type="hidden" name="usuario" value="{{user.profile}}">
            <input type="hidden" name="post" value="{{post.titulo}}">
            {{form.as_p}}
            <a> <button class="btn btn-default boton" type="submit">
            <span class="glyphicon glyphicon-asterisk"></span> Envia! (:</button></a>
        </form>
</div>
{% endblock %}