<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{% extends "base.html" %}

{% block tittle %} {{post}} {% endblock %}
    
{% block content %}
        <div class="row">
            <div class="TextoTitle">{{post.get_titulo}}</div>
            <div class="col-lg-4 col-xs-5 col-md-5 col-sm-5"><img  class="imagen img-rounded" src="{{post.linkImagen}}" style="width: 300px; height: 300px"> </div>
            <div class="col-lg-offset-5">
            <div class="col-lg-8 col-xs-8 col-md-8 col-sm-8">
            <label class="Texto">Link:</label>
            <div class="TextoDsc"><a href="{{post.link}}">{{post.link}}</a></div>
            
            <label class="Texto">Descripcion:</label>
            <div class="TextoDsc">{{post.descripcion}}</div>
          
            {%if user.profile != post.usuario %}
            <label class="Texto">Escrito por:</label>
            <div class="TextoDsc"><a href="/Accounts/{{post.usuario}}">{{post.usuario}}</a></div>
            {%endif%}         
            
            <label class="Texto">Fecha:</label>
            <div class="TextoDsc">{{post.fecha}}</div>
            </div>
            </div>
            
            
            {%if user.profile == post.usuario%}
            <button data-toggle="modal" data-target="#myModal"><span class="glyphicon icon icon-trash"></span></button>
            
            <!-- <a href="/Posts/Delete/{{post.id}}"><span class="glyphicon icon icon-trash"></span></a>-->
            
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Eliminar Publlicacion</h4>
                </div>
                <div class="modal-body">Estas seguro de eliminar esta publicacion?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a href="/Posts/Delete/{{post.id}}"><button type="button" class="btn btn-primary">Eliminar</button></a>
                </div>
                </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            {%endif%}
        </div>

        <div class="estiloRate">
            <div class="container col-md-4">
                <div class="ec-stars-wrapper hidden-xs" align="center">
                    <div>
                        <label class="rateText1">Califica éste Post</label>
                    </div>                
                    <a href="Rate/{{Post.id}}/1" data-value="1" title="Votar con 1 estrella" >&#9733;</a>
                    <a href="Rate/{{Post.id}}/2" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                    <a href="Rate/{{Post.id}}/3" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                    <a href="Rate/{{Post.id}}/4" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                    <a href="Rate/{{Post.id}}/5" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                </div>            
            </div>

            <div>
                <div class="container">
                    <div class="container col-md-3" align ="center">
                        <h2 class="textRate">4,7</h2>
                        <label class="text2Rate">200 usuarios</label>
                    </div>

                    <div class="container">
                        <div class="starProm col-md-1 txt2Rate">
                            <samp> &#9733;5 </samp>
                            <samp> &#9733;4 </samp>
                            <samp> &#9733;3 </samp>
                            <samp> &#9733;2 </samp>
                            <samp> &#9733;1 </samp>
                        </div>
                    </div>

                    <div>
                <div class="container">
                    <div class="col-md-3">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                </div>

            </div>            
        </div>


<label class="TextoSubtitulo">Comentarios</label>

   
            {%if user.profile.id == post.usuario.id %}
            <div class="TextoDsc">{{post.usuario.profile}}</div>
            {%endif%} 
            
<div class="row">
    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
    <div class="container">
        <div class="row">
        {%for comment in comments%}
        <div class="container">
        <div class="block">
        <img src="{{comment.usuario.fotografia.url}}" class="img-rounded" style="width: 30px; height: 30px">
        <a href="/Accounts/{{comment.usuario}}" class="Texto">{{comment.usuario}}</a>
        <div class="container">
        <div class="TextoCm col-lg-9">{{comment.comentario}}</div></div>
        </div>
        </div>
        {%endfor%}
        </div>
        <div class="block2">
        <form class="Form" method="POST">
        {% csrf_token %}
        <input type="hidden" name="usuario" value="{{user.profile}}">
        <input type="hidden" name="post" value="{{post.titulo}}">
        <img src="{{user.profile.fotografia.url}}" class="img-rounded" style="width: 30px; height: 30px">
        <input name="comentario" type="text" placeholder="Escribe un comentario">           
        <a> <button class="btn btn-info pull-right" type="submit">Enviar</button></a>
        </form>
        </div>
    </div>
    </div>        
</div>
{% endblock %}
