/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-oct-2013, 22:29:56
    Author     : t4r0
*/

.buzzBody
{
   margin: 0;
   padding: 0;
   width: 100%;
   position: relative;
   color: #999999;
   background-color: white;
}
.buzzContainer 
{
    background-color: #3f3f3f;
    margin: 0;
    padding: 0;
    color: white;
 }

 #header
 {
     color: white;
     margin: 0;     
     height: 40px;
 }

 #buzzterHome
 {
    margin: 0 85% 0 5%
 }
 
 #downDecorator
 {
     width: 33%;
     vertical-align: bottom;
     height: 4pt;
     position: absolute;
 }
 
 #logPart
 {
    top: 0;
    right: 5%;
    position: absolute; 
    height: 40px;
 }

 #logPart div:hover, #logPart a:hover, #logPart:hover
 {
    background-image: linear-gradient(bottom, rgb(45,46,46) 32%, rgb(63,65,66) 66%, rgb(69,71,71) 83%);
    background-image: -webkit-linear-gradient(bottom, rgb(45,46,46) 32%, rgb(63,65,66) 66%, rgb(69,71,71) 83%);
    background-image: -o-linear-gradient(bottom, rgb(45,46,46) 32%, rgb(63,65,66) 66%, rgb(69,71,71) 83%);
    background-image: -moz-linear-gradient(bottom, rgb(45,46,46) 32%, rgb(63,65,66) 66%, rgb(69,71,71) 83%);
    color: #ACACAC;
 }

 #logPart a
 {
   color: #AAAAAA;
   font-family: 'Segoe UI';
   font-weight: bold;
 }
 
 .logIn
 {
    margin-left: 0;
    margin-top: 100px;
    width: 100%;
    height: 500px;
    background-image: url('resources/start.jpg');
    background-size: 100% 110%;
    box-shadow: 5px 5px 5px #888888;
 }
 
 .logIn form
 {
     background-image: -webkit-linear-gradient(bottom, #29373f 2%, #424446 6%, #313132 100%);
     background-image: linear-gradient(bottom, #29373f 2%, #424446 6%, #313132 100%);
     background-image: -o-linear-gradient(bottom, #29373f 2%, #424446 6%, #313132 100%);
     background-image: -moz-linear-gradient(bottom, #29373f 2%, #424446 6%, #313132 100%);
     height: 350px;
     border-radius: 5px;
     box-shadow: 2px 2px 2px #444444;
     transform: translateY(-15px);
     -ms-transform: translateY(-15px);
     -webkit-transform: translateY(-15px);
 }
 
 .logInForm
 {
     margin: 0 5% 0 70%;
 }
 
 .logInForm input
 {
     border-radius: 5px;     
 }
 
 .logInForm label, .logInForm input
 {
     border: #424646;
     width: 100%;
     height: 30px;
     font-family: 'Segoe UI';
     font-size: 95%;
 }
 
 .logInForm label
 {
     font-weight: bold;
 }
 .logInForm form div
 {
     width: 75%;
     height: 100%;
     margin: 0 auto;     
 }
 
 .logInForm form a
 {
     text-align: center;
     font-family: 'Segoe UI';
     font-size: 12pt;
     color: #34c6ca
 }
 .titulo
 {
     font-size: 18pt;
     color: white;
     font-family: 'ComickBook';
     text-align: center;
 }
 .helptext
 {
     display: none;
 }
 
 .buzzContainer a, .buzzContainer a:link
 {
     text-decoration: none;
     color: white;
     font-size: 11.5pt;
     font-family: 'ComickBook';
 }
