<!DOCTYPE html>
<html>
    <head>
        <title>{% block tittle %} {% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/buzzter.css"/>
       
        <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/buzzter.css"/>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/profiles.css"/>
        <script src="{{STATIC_URL}}js/vendor/modernizr-2.6.2.min.js"></script>      
    </head>
    <body>
    <script>
        $('#newPost').on('hidden.bs.modal',function () {
        $(this).removeData('bs.modal');
        });
    </script>
    {% block body %}
            <div id="header" class="navbar navbar-fixed-top" role="navigation">                
                <div  class="container">
                <div class="row">
                            <div class="col-lg-2 col-xs-2 col-md-2 col-sm-2">
                                <a  href="/">
                                    <h1>Buzzter</h1>
                                </a>
                            </div>
                            {% if user.is_authenticated %}
                            <div class="col-lg-2 col-xs-2 col-md-2 col-sm-2
                                    col-xs-offset-8 col-md-offset-8 col-sm-offset-8
                                    col-lg-offset-8">
                                <a  href="/Logout">
                                    <h3>Salir</h3>
                                </a>
                            </div>
                            {% endif %}
                        </div>                    
                        <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4 Decorator BlueDecorator"></div>
                        <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4 Decorator OrangeDecorator"></div>
                        <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4 Decorator YellowDecorator"></div>                 
                    </div>                   
                </div>
    {% if user.is_authenticated %}
     {% with info=user.profile %}
        <div class="container">
        <div class="row">           
            <div class="col-lg-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <img alt="Imagen de usuario" src="{{info.fotografia.url}}" class="img-rounded" style="width: 200px; height: 200px" >      
                        </div>
                    </div>
                    <div class="row">
                        {% if info.pais %}
                        <div class="col-lg-2">
                            <img alt="flag" src="{{info.getFlag}}">
                        </div>
                        {% endif %}
                        <div class="col-lg-10">
                            <a href="/Accounts/{{info}}" class="TextoPrincipal">{{info}}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="TextoSecundario">{{user.get_full_name}}</label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-4">
                            <p>{{info.followers.count}}</p>
                            <div class="row">followers</div>
                        </div>
                        <div class="col-lg-4">
                            <p>{{info.followings.count}}</p>
                            <div class="row">following</div>
                        </div>
                        <div class="col-lg-4">
                            <p>{{info.posts.count}}</p>
                            <div class="row">Buzzies</div>
                        </div>
                    </div>
                    <hr>                        
                </div>
             </div>
            {%endwith%}
            <div class="col-lg-9">                
                       {% block content%}

                        {% endblock %}
             </div>           
            {%else%}
            <div class="container">{% block main%}{% endblock %}</div>{% endif %}             
            <div class="row">
                <div class="container">{% block footer %}{% endblock %}</div>
            </div>
            </div>
        </div>
     {%endblock%}
         <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
        <script src="{{STATIC_URL}}js/vendor/bootstrap.js"></script>
        <script src="{{STATIC_URL}}js/main.js"></script>
    </body>
</html>
