<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>{% block tittle %} {% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/buzzter.css"/>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/profiles.css"/>
        <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/buzzter.css"/>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/profiles.css"/>
        <script src="{{STATIC_URL}}js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
            <header>
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2">
                                <a  href="/">
                                    <h1>Buzzter</h1>
                                </a>
                            </div>
                            {% if user.is_authenticated %}
                            <div class="col-lg-2 col-lg-offset-8">
                                <a  href="/Logout">
                                    <h3>Salir</h3>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    <div class="row">
                        <div class="col-lg-4 Decorator BlueDecorator"></div>
                        <div class="col-lg-4 Decorator OrangeDecorator"></div>
                        <div class="col-lg-4 Decorator YellowDecorator"></div>
                    </div>
                    </div>                   
                </div>               
            </header>
                   
        <div class="row">
            <div class="col-lg-4">
                <div class="container">
                    {%block leftpanel %}
                    {% if user.is_authenticated %}
                    {% with info=user.profile %}
                        <div class="row">
                            <img alt="Imagen de usuario" src="{{info.fotografia.url}}" class="img-rounded col-lg-offset-2" style="width: 180px; height: 180px" >      
                        </div>
                        <div class="row">
                            <a href="/Accounts/{{info}}" class="TextoPrincipal">{{info}}</a>
                        </div>
                        <div class="row">
                            <label class="TextoSecundario">{{user.get_full_name}}</label>
                        </div>

                        <blockquote>
                            <div class="row">
                                <label class="TextoPrincipal">Mi Perfil</label>
                            </div>
                            <div class="row"> 
                                <a href="/Me"> 
                                    <label class="TextoSecundario"> Acerca de mi </label> 
                                </a>
                            </div>
                            <div class="row">
                                <a href="/Publications"> <label class="TextoSecundario"> Mis Publicaciones </label> </a>
                            </div>
                            <div>
                                <a href="/Raiting"> <label class="TextoSecundario"> Mis Raitings </label> </a>
                            </div>
                        </blockquote>
                </div>
                {%endwith%}
                {% endif %}
                {% endblock %}
             </div>
        
             <div class="col-lg-8">
                <div class="container">
                       {% block content%}

                        {% endblock %}
                </div>
             </div>
            <div class="row">
                <div class="container">{% block footer %}{% endblock %}</div>
            </div>
        </div>
         <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
        <script src="{{STATIC_URL}}js/vendor/bootstrap.js"></script>
        <script src="{{STATIC_URL}}js/main.js"></script>
    </body>
</html>
