<!DOCTYPE html>
<html>
    <head>
        <title>{% block tittle %} {% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/buzzter.css"/>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/buzzter-min.css"/>
        <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/buzzter.css"/>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/profiles.css"/>
        <script src="{{STATIC_URL}}js/vendor/modernizr-2.6.2.min.js"></script>      
    </head>
    <body>
    <script>
        $('#newPost').on('hidden.bs.modal',function () {
        $(this).removeData('bs.modal');
        });
    </script>
    {% block body %}
    <div id ="header" class="navbar navbar-fixed-top" role="navigation">                  
        <div  class="container">
            <div class="row-fluid">
                <div class="col-lg-2 col-xs-12 col-md-2 col-sm-2">                   
                        <a  href="/">
                            <h1>Buzzter</h1>
                        </a>                  
                </div> 
                {% if user.is_authenticated %} 
                <div id="big-menu" class="hidden-xs col-md-4 col-lg-4 col-sm-6
                            pull-right">                                     
                       <a href="/Now" class="btn"><span class="super-icon icon-home"></span></a>
                       <a href="/Edit" class="btn"><span class="super-icon icon-pencil"></span></a>
                       <a href="/Messages/" class="btn"><span class="super-icon icon-bubble"></span></a>
                       <a href="#" class="btn"><span class="super-icon icon-help"></span></a>
                       <a href="/Logout" class="btn"><h3>Salir</h3></a>                 
                </div>
                {% endif %}
            </div>                   
        </div>
        <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4 Decorator BlueDecorator"></div>
        <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4 Decorator OrangeDecorator"></div>
        <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4 Decorator YellowDecorator"></div>          
    </div>
    {% if user.is_authenticated %}
     {% with info=user.profile %}
	  <div class="hidden-lg hidden-md hidden-sm col-xs-12">
                     <section id="hide">
                         <p class="heading"><a href="#hide">Esconder</a></p>
                     </section>
                    <div class="accordion vertical">
                        <section id="opciones">
                            <p class="heading"><a href="#opciones" >Opciones</a></p>
                        <ul>
                            <li><a class="btn" href="/Now"><span class="super-icon icon-home"></span> inicio</a></li>
                            <li><a class="btn" href="/Edit"><span class="super-icon icon-pencil"></span> ajustes</a></li>
                            <li><a class="btn" href="/Messages/"><span class="super-icon icon-bubble"></span> mensajes</a></li>
                            <li><a class="btn" href="#"><span class="super-icon icon-help"></span> ayuda </a></li>
                            <li><a class="btn" href="/Logout">Salir</a></li>
                            <li><hr></li>
                        </ul>
                        </section>
                        <section id="posts">
                            <a href="#posts" class="heading">Publica algo</a>
                            <div><ul>                           
                            <li><a class="btn" href="/Posts/New/Music"><span class="super-icon icon-play"></span>
                                    M&uacute;sica</a></li>
                            <li><a class="btn" href="/Posts/New/Movies"><span class="super-icon icon-video"></span>
                                    Pel&iacute;culas</a></li>
                            <li><a class="btn" href="/Posts/New/Series"><span class="super-icon icon-tv"></span>
                                    Series</a></li>
                            <li><a class="btn" href="/Posts/New/Posters"><span class="super-icon icon-poster"></span>
                                    Poster</a></li>
                            <li><a class="btn" data-toggle="modal" data-remote="/Posts/New/ArtBooks"><span class="super-icon icon-book"></span>
                                    Art-books</a></li>                   
                            </ul></div>
                        </section>
                    </div>
        </div>
        <div class="container">
        <div class="row">           
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img alt="Imagen de usuario" src="{{info.fotografia.url}}" class="img-rounded" style="width: 226px; height: 226px" >      
                        </div>
                    </div>
                    <div class="row">                      
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <a href="/Accounts/{{info}}" class="blue-text main-text">{{info}}</a>
                        </div>
                    </div>
                    <div class="row">
                        {% if info.pais %}
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="vertical-align: central">
                            <img alt="flag" src="{{info.getFlag}}">
                        </div>
                        {% endif %}
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            <label class="detail-text">{{user.get_full_name}}</label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <a href="/Followers/" class="info"> <p class="big-text">{{info.followers.count}}</p>
                                <div class="row">followers</div></a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <a href="/Following/" class="info"><p class="big-text">{{info.followings.count}}</p>
                                <div class="row">following</div></a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <a href="#"><p class="big-text">{{info.posts.count}}</p>
                                <div class="row">Buzzies</div></a>
                        </div>
                    </div>
                    <hr>                        
                </div>
             </div>
            {%endwith%}
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">                
                       {% block content%}

                        {% endblock %}
             </div>           
            {%else%}
            {% block main%}{% endblock %}{% endif %}             
            <div class="row">
                <div class="container">{% block footer %}{% endblock %}</div>
            </div>
            </div>
        </div>
     {%endblock%}
         <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
        <script src="{{STATIC_URL}}js/vendor/bootstrap.js"></script>
        <script src="{{STATIC_URL}}js/main.js"></script>
    </body>
</html>
